webapps/EnseirbWebXMLWebapp/resources/xsd/ownership.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ownership">
		<xs:complexType>
			<xs:attribute name="taskId" type="xs:integer"  use="required" />
			<xs:attribute name="userName" type="xs:string" use="required"  />
		</xs:complexType>
	</xs:element>
</xs:schema>
