webapps/EnseirbWebXMLWebapp/resources/xsd/task.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="task-one">
		<xs:sequence>
			<xs:element name="description" type="xs:string" />
			<xs:element name="asker" type="xs:string" />
			<xs:element name="owner" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" />
		<xs:attribute name="title" type="xs:string" />
		<xs:attribute name="deadline" type="xs:string" />
		<xs:attribute name="priority" type="xs:integer" />
		<xs:attribute name="done" type="xs:boolean" />
	</xs:complexType>
<xs:element name="task" type="task-one" />
</xs:schema>
